---
version: "2.1"
services:
  sonarr:
    image: ghcr.io/linuxserver/mylar3
    container_name: mylar3
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Africa/Johannesburg
    volumes:
      - "{{ rootcfg }}/mylar3:/config"
      - "{{ rootdata }}/ubooquity/comics:/comics"
      - "{{ rootdnld }}/sabnzbd:/downloads"
    ports:
      - 8090:8090
    restart: unless-stopped
