---
version: "2.1"
services:
  ubooquity:
    image: ghcr.io/linuxserver/ubooquity
    container_name: ubooquity
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Africa/Johannesburg
      - MAXMEM=512
    volumes:
      - "{{  rootcfg }}/ubooquity:/config"
      - "{{ rootdata }}/ubooquity/books:/books"
      - "{{ rootdata }}/ubooquity/comics:/comics"
      - "{{ rootdata }}/ubooquity/files:/files"
    ports:
      - 2202:2202
      - 2203:2203
    restart: unless-stopped
